In [4]:
# Dependencies
from census import Census
from config import census_key
import gmaps
import numpy as np
import pandas as pd
import requests
import time
from us import states
from scipy.stats import linregress
from matplotlib import pyplot as plt


# Census API Key
c = Census(census_key)

In [5]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("B01003_001E", "B17001_002E"), {'for': 'state:*'})
eduVariable = ["B01003_001E", "B17001_002E"]
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

census_pd = census_pd.astype('int32')
census_pd.head()

   B01003_001E  B17001_002E  state
0      3468963      1543220     72
1      4850771       849699      1
2       738565        73380      2
3      6809946      1128046      4
4      2977944       524211      5

In [6]:
state_codes = pd.read_csv("../Resources/state_codes.csv")
state_codes.head()

   state  State Name
0      1     Alabama
1      2      Alaska
2      3     Arizona
3      4    Arkansas
4      5  California

In [7]:
censusData = pd.merge(census_pd, state_codes, on = 'state')
censusData = censusData[['State Name', 'B01003_001E', 'B17001_002E']]
censusData = censusData.rename(columns = {"B01003_001E":'Variable Name 1',
                                          "B17001_002E":'Variable Name 2'})
censusData.head()

   State Name  Variable Name 1  Variable Name 2
0     Alabama          4850771           849699
1      Alaska           738565            73380
2    Arkansas          6809946          1128046
3  California          2977944           524211
4    Colorado         38982847          5773408